body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: peachpuff;
}

.radialMenu {
    background-color: antiquewhite;
    position: absolute;

    input {
        display: none;
        /*change these and below to mouse pos*/

        &:checked ~ button {
            opacity: 100%;
            &:nth-of-type(1) {
                transition-duration: 0.38s;
                transform: translate3d(0px, -105px, 0);
            }
            &:nth-of-type(2) {
                transition-duration: 0.38s;
                transform: translate3d(99.86093418px, -32.446784369999996px, 0);
            }
            &:nth-of-type(3) {
                transition-duration: 0.38s;
                transform: translate3d(61.71745146px, 84.94678437px, 0);
            }
            &:nth-of-type(4) {
                transition-duration: 0.38s;
                transform: translate3d(-61.71745146px, 84.94678437px, 0);
            }
            &:nth-of-type(5) {
                transition-duration: 0.38s;
                transform: translate3d(
                    -99.86093418px,
                    -32.446784369999996px,
                    0
                );
            }
        }
    }

    button {
        /* later, exchange styling for vector graphics */
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
        height: 80px;
        width: 80px;
        position: absolute;
        transition-duration: 0.18s;
        opacity: 0%;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}

.pinned {
    /* placeholder class for notes that need to stay on top */
}

.floored {
    /* placeholder for ones that stay on bottom */
}

.note {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: antiquewhite;
    width: 200px;
    height: 10em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    min-height: 10em;
    min-width: 200px;

    z-index: 0;
    /* overflow: scroll;
    resize: both; */
}

.text {
    width: auto;
    height: auto;
    color: black;
    font-size: 12pt;

    margin: 5px;
    padding: 2px;

    &:focus-visible {
        outline: 1px solid lightcoral;
        background-color: floralwhite;
    }
    &:hover {
        outline: 1px solid lightcoral;
        background-color: floralwhite;
    }
}

.noteHandle {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: orange;
    border-radius: 5px 0 0 0;
}
