body {
    width: auto;
    min-width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow: clip;
    background-color: peachpuff;
}

.radialMenu {
    background-color: antiquewhite;
    position: absolute;

    input {
        display: none;
        /*change these and below to mouse pos*/

        &:checked ~ button {
            opacity: 100%;
            &:nth-of-type(1) {
                transition-duration: 0.38s;
                transform: translate3d(0px, -105px, 0);
            }
            &:nth-of-type(2) {
                transition-duration: 0.38s;
                transform: translate3d(99.86093418px, -32.446784369999996px, 0);
            }
            &:nth-of-type(3) {
                transition-duration: 0.38s;
                transform: translate3d(61.71745146px, 84.94678437px, 0);
            }
            &:nth-of-type(4) {
                transition-duration: 0.38s;
                transform: translate3d(-61.71745146px, 84.94678437px, 0);
            }
            &:nth-of-type(5) {
                transition-duration: 0.38s;
                transform: translate3d(
                    -99.86093418px,
                    -32.446784369999996px,
                    0
                );
            }
        }
    }

    button {
        /* later, exchange styling for vector graphics */
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
        height: 80px;
        width: 80px;
        position: absolute;
        transition-duration: 0.18s;
        opacity: 0%;

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}

.pinned {
    /* placeholder class for notes that need to stay on top */
}

.floored {
    /* placeholder for ones that stay on bottom */
}

.note {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: antiquewhite;
    /* width: 200px;
    height: 10em; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    min-height: 10em;
    min-width: 200px;

    z-index: 0;
    /* overflow: scroll;
    resize: both; */
    padding-bottom: 20px;
}

.text {
    width: auto;
    height: auto;
    color: black;
    font-size: 12pt;

    margin: 10px;
    padding: 2px;

    &:focus-visible {
        outline: 1px solid lightcoral;
        background-color: floralwhite;
    }
    &:hover {
        outline: 1px solid lightcoral;
        background-color: floralwhite;
    }
}

.noteHandle {
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: orange;
    border-radius: 5px 0 0 0;
}

.polaroid {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: antiquewhite;
    width: 200px;
    height: 10em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    min-height: 10em;
    min-width: 200px;

    z-index: 0;
}

.cassette {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: antiquewhite;
    /* width: 200px; */
    /* height: 10em; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    min-height: 7em;
    min-width: 300px;

    z-index: 0;

    .label {
        height: 1.1em;
        width: 150px; /*do not the this make it fixed*/
        font-size: 12pt;
    }

    audio {
        display: block;
        /* height: 300px; works now deal with later */
        &::-webkit-media-controls {
            /**/
        }
        &::-webkit-media-controls-volume-control-hover-background {
            /* the style for hovering on the volume slider */
        }

        &::-webkit-media-controls-enclosure {
            /* the oblong panel itself */
            border-radius: 0;
            background-color: rgba(0, 0, 0, 0);
            /* height: 400px; works now deal with later */
        }

        &::-webkit-media-controls-panel {
            /* the panel inside the box? */
            /* height: 300px;
            overflow: visible; */
        }

        &::-webkit-media-controls-mute-button {
            /* the area behind the volume popout */
            /* position: absolute;
            top: 30px;
            left: 60px; */
        }

        &::-webkit-media-controls-play-button {
            /* same as above, but for the other one */
        }

        &::-webkit-media-controls-timeline-container {
            /* unknown */
        }

        &::-webkit-media-controls-current-time-display {
            /* time elapsed block */
        }

        &::-webkit-media-controls-time-remaining-display {
            /* time remaining block */
        }

        &::-webkit-media-controls-timeline {
            /* the timeline bar */
        }

        &::-webkit-media-controls-volume-slider-container {
            /* ?? */
        }

        &::-webkit-media-controls-volume-slider {
            /* volume slider popout */
        }

        &::-webkit-media-controls-seek-back-button {
            /* doesn't exist currently */
        }

        &::-webkit-media-controls-seek-forward-button {
            /* ^^ */
        }

        &::-webkit-media-controls-fullscreen-button {
            /* maybe only video */
        }

        &::-webkit-media-controls-rewind-button {
            /* doesn't exist currently */
        }

        &::-webkit-media-controls-return-to-realtime-button {
            /* ^^?? */
        }

        &::-webkit-media-controls-toggle-closed-captions-button {
            /* ^^?? */
        }
    }
}

.disc {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: antiquewhite;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    min-height: 10em;
    min-width: 200px;
    padding: 10px;

    z-index: 0;

    video {
        display: block;
    }
}
